div{
    height: 250px;
    width: 250px;
    border: 1px solid red;
    background-color: aqua;
    color: black;
    text-align: center;
    padding-top: 125px;
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
